<mat-card class="example-card">
    <mat-card-title>New Note</mat-card-title>
    <mat-card-content>
        <mat-form-field  appearance="fill">
            <mat-label>Note Title</mat-label>
            <input matInput type="text" #title="ngModel" [(ngModel)]="Note.title" required>
            <mat-error *ngIf="title?.errors?.['required']">
                Note title is required
            </mat-error>
        </mat-form-field><br>

        <mat-form-field  appearance="fill">
            <mat-label>Note Content</mat-label>
            <textarea matInput #content="ngModel" [(ngModel)]="Note.content" minlength="5" required ></textarea>
            <mat-error *ngIf="content?.errors?.['required']">
                Note content is required
            </mat-error>
            <mat-error *ngIf="content?.errors?.['minlength']">
                Note content should be minimum 5 characters.
            </mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Reminder Date</mat-label>
            <input matInput #date="ngModel" [matDatepicker]="picker" [(ngModel)]="Note.date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="date?.errors?.['required']">
                Reminder date is required
            </mat-error>
        </mat-form-field><br>

        <mat-form-field  appearance="fill">
            <mat-label>Add Category</mat-label>
            <input matInput type="text" [(ngModel)]="Note.category">
        </mat-form-field><br>

        <mat-radio-group [(ngModel)]="Note.priority">
            <p>Priority</p>
            <mat-radio-button value="Low">Low</mat-radio-button>
            <mat-radio-button value="Medium">Medium</mat-radio-button>
            <mat-radio-button value="High">High</mat-radio-button>
            <mat-radio-button value="Critical">Critical</mat-radio-button>
        </mat-radio-group><br><br>

        <button mat-mini-fab color="primary" (click)="addNoteFunction()" >
            <mat-icon>save</mat-icon>
        </button>

    </mat-card-content>
</mat-card>
  